@tailwind base;
@tailwind components;
@tailwind utilities;

/* base fonts/colors */
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* small helpers */
a { text-decoration: none; }
